body {
    background-image: url("C:\Users\lukec\Desktop\homework\week-4-game\assets\background.png")
}

#header{
    text-align: center;
    background-color: orange;
    color: white;
    }

#instructions{
    background-color: #FBE6CD;
    color: green;
    font-size: 20px;
    
}

.crystalpics{
    width: 23%;
}


#randomnumber{
  
    background-color: green;
    color: white;
    size: 20px;
    width: auto;
    margin-top:3%;
}

#tracker{
    text-align: center;
    font-size: 20px;
    background-color: teal;
  
 
    }

#totalscore{
    background-color: blue;
    color: white;
    size: 20px;
    width: auto;
    margin-top:3%;
}